h1 {
    font-family: 'Vidaloka', serif;
    margin: auto;
    padding: 0.3em;
    background-color: darkslategray;
    color: #FFF;
}

h2 {
    color: darkslategray;
    font-family: 'Vidaloka', serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
}

h3 {
    color: darkslategray;
    font-family: 'Vidaloka', serif;
}

h4 {
    color: darkslategray;
    font-family: 'Vidaloka', serif;
}

p {
    margin: auto;
}

button {
    background-color: darkslategray !important;
    color: #FFF !important;
    border-radius: 6px !important;
    border: none !important;
    outline: none !important;
}

.demobox {
    border: none;
    outline: none;
    background-color: darkslategray;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.grafik {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0.7em;
}

.grafik_stor {
    width: 70%;
    padding-bottom: 2em;
}

.grafik_gestalt {
    width: 50%;
}

#mig {
    display: block;
    margin: auto;
    border: 1em darkslategray;
    border-style: solid;
}

#forsidebox {
    display: block;
    margin: auto;
    padding: 3em;
}

#kode_demo {
    position: relative;
}

.pagewrap {
    margin-left: 2em;
    margin-right: 2em;
}
/*Collapse Grid Demonstrationer*/
#grid_demo_html {
    border: none;
    outline: none;
    background-color: darkslategray;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
/*Collapse Grid Demostrationer*/
.dropdown-menu .nav {
    color: darkslategray !important;
    font-size: 0.8em;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 1.8em;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: clear;
}

/* CSS Animation for Burgermenu */

.icon-bar {
    color: #FFF !important;
    background-color: #FFF !important;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/* CSS Animation for Burgermenu slutter her */

/*Bund felter starter her*/

.kildefelt {
    padding-bottom: 1em;
}

footer {
    background-color: darkslategray;
    padding: 1em;
    font-family: 'Vidaloka', serif;
    color: #FFF;
    text-align: center;
    clear: both;
    overflow: hidden;
}

/*Til top knap starter her*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

/*Til Top Knap slutter her*/
